/* ============================= */
/*            CSS RESET          */
/* ============================= */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ============================= */
/*            ROOT              */
/* ============================= */

:root {
  /* ===== Color Palette (Generic Tokens) ===== */

  --color-primary: #ff9800;
  --color-secondary: #ffc107;
  --color-accent: #cc1313;

  --color-bg: #fafafa;
  --color-surface: #ffffff;

  --color-text-primary: #1e1e1e;
  --color-text-secondary: #616161;
  --color-text-inverse: #ffffff;

  --color-border: #e5e5e5;

  --color-primary-hover: #ee9106;
  --color-accent-hover: #b01010;

  /* ===== Spacing Scale (8px system) ===== */

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;
  --space-7: 64px;

  /* ===== Border Radius ===== */

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 16px;

  /* ===== Elevation ===== */

  --shadow-1: 0 6px 18px rgba(0, 0, 0, 0.08);
  --shadow-2: 0 20px 40px rgba(0, 0, 0, 0.15);

  /* ===== Typography Scale ===== */

  --font-family: "Poppins", sans-serif;

  --fs-base: 16px; /* 16px */

  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-md: 1rem; /* 16px */
  --fs-lg: 1.25rem; /* 20px */
  --fs-xl: 1.75rem; /* 28px */

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* ===== Layout ===== */

  --sidebar-width: 260px;
  --content-max-width: 1100px;
  --header-height: 100px;
  --icon-size: 30px;
  --logo-size: 50px;
}

/* ============================= */
/*          TYPOGRAPHY          */
/* ============================= */

h1 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-semibold);
}

h2 {
  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);
}

p {
  font-size: var(--fs-sm);
  color: var(--color-text-secondary);
}

/* ============================= */
/*            BODY               */
/* ============================= */

body {
  font-family: var(--font-family);
  font-size: var(--fs-sm);
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

/* ============================= */
/*           LAYOUT              */
/* ============================= */

.layout {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  min-height: 100vh;
}

.sidebar {
  grid-column: 1;
}

.main-content {
  grid-column: 2;
}

/* ============================= */
/*           COMPONENTS          */
/* ============================= */

.button {
  background-color: var(--color-bg);
  color: var(--color-text-primary);

  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  padding: var(--space-2) var(--space-4);

  cursor: pointer;

  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.button:active {
  transform: translateY(1px);
}

.primary-button {
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
  box-shadow: var(--shadow-1);
}

.primary-button:hover {
  background-color: var(--color-primary-hover);
}

.error-button {
  background-color: var(--color-accent);
  color: var(--color-text-inverse);
}

.error-button:hover {
  background-color: var(--color-accent-hover);
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--color-text-primary);
}

/* ============================= */
/*           SIDEBAR-LOGO        */
/* ============================= */

.sidebar {
  background-color: var(--color-surface);
  border-right: 1px solid var(--color-border);
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-1);

  height: var(--header-height);
  border-bottom: 1px solid var(--color-border);
  padding-left: var(--space-3);
}

.logo-icon {
  fill: var(--color-primary);
  width: var(--logo-size);
  height: var(--logo-size);
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
  margin: var(--space-3) var(--space-5);
}

.actions > * {
  width: 100%;
}

#new-button {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--space-1);
  padding: var(--space-1) var(--space-2);
}

#new-button > svg {
  fill: var(--color-text-inverse);
}

/* ============================= */
/*           SIDEBAR-NAV         */
/* ============================= */

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
  margin: var(--space-3) var(--space-5);
}

.navigation ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.navigation li {
  width: 100%;
}

.navigation a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--space-1);

  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: var(--fw-semibold);

  padding: var(--space-1) var(--space-2);
}

/* ============================= */
/*             DIALOG            */
/* ============================= */

dialog {
  /* TODO */
}
